# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
apk-venv/
env/
ENV/
env.bak/
venv.bak/
.venv/
.envrc

# Environment Variables
.env

# Streamlit (optional cache / secrets)
.streamlit/secrets.toml

# Logs & Temp Files
*.log
*.tmp
*.swp
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editor Files
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
.cursorignore
.cursorindexingignore

# Databases
*.db
*.sqlite3

# OS Files
.DS_Store
Thumbs.db

